


/* // chat app */

.main {
    box-sizing: border-box;
    max-height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 300px auto;
    .chatapp {
        height: 100vh;
        display: flex;
        padding: 10px;
        gap: 10px;
        box-sizing: border-box;
        .zero-contacts-container {
            width: 0 !important;
            transition: .3s;
            min-width: 0 !important;
        }
        .contacts-container {
            transition: .3s;
            background: black;
            border-radius: 13px;
            box-shadow: 0 0 10px 0 black;
            min-width: 300px;
            .contact-li {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                gap: 20px;
                border-bottom: 1px solid #222;
                .img-container {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-size: contain;
                        /* background-size: cover; */
                    }
                }
                .details-container {
                    h2 {
                        margin: 0;
                        font-size: 18px;
                    }
                    span {
                        font-size: 12px;
                        color: #aaa;
                    }
                }
            }
        }
        button {
            border: none;
            cursor: pointer;
        }
        .chat-main-psudo {
            height: calc(100vh - 20px);
            width: -webkit-fill-available;
            > div {
                font-size: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #333;
                height: 100%;
                width: 100%;
                border-radius: 13px;
                box-shadow: 0 0 10px 0 black;
                div {
                    .sayhi {
                        color: #282828;
                        /* animation: sayHi 3s 1s infinite linear; */
                        text-align: center;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }    
        .chat-main {
            background: #000;
            border-radius: 13px;
            display: grid;
            grid-template-rows: 70px auto 60px;
            box-sizing: border-box;
            max-width: 1200px;
            margin: 0 auto;
            width: -webkit-fill-available;
            min-width: 500px;
            overflow: hidden;
            .chat-head {

                /* background-color: red; */
                .grid-1 {
                    display: flex;
                    align-items: center;
                    height: 70px;
                    gap: 10px;
                    .contacts-icon {
                        /* position: absolute; */
                        background: #333;
                        height: 40px;
                        width: 40px;
                        border-radius: 0px 7px 7px 0;
                        padding-right: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        box-sizing: border-box;
                        cursor: pointer;
                        transition: 1s;
                        overflow: hidden;
                        /* transform: translateX(50px); */
                        z-index: 10;
                        span{
                            background: white;
                            /* position: absolute; */
                            display: block;
                            height: 4px;
                            width: 30px;
                            margin: 0;
                            padding: 0;
                            border-radius: 10px;
                            transition: .5s;
                        } 
                        span:nth-child(1) {
                            width: 20px;
                            transform: translateY(-4px);
                            transform: translate(-5px, -4px);
                        }
                        span:nth-child(2) {
                            width: 30px;
                            transform: translateY(0px);
                        }
                        span:nth-child(3) {
                            transform: translateY(4px);
                            width: 30px;
                        }
                    }
                    .active-icon {
                        transform: translate(0px);
                        width: 40px !important;
                        span:nth-child(1) {
                            width: 30px;
                            transform: translateY(0px) rotate(45deg);
                            left:initial;
                        }
                        span:nth-child(2) {
                            width: 30px;
                            transform: translateX(100px);
                            left:initial;
                        }
                        span:nth-child(3) {
                            transform: translateY(0px) rotate(675deg);
                            width: 30px;
                            left:initial;
                        }
                    }
                    .zero {
                        height: 0;
                    }
                    .contact-head {
                      /* margin: 5px; */
                      .contact-head-main {
                        border-radius: 13px;
                        display: flex;
                        align-items: center;
                        padding: 7px 13px;
                        gap: 10px;
                        .img-cont {
                            height: 45px;
                            width: 45px;
                            border-radius: 50%;
                            box-sizing: border-box;
                            img {
                                height: 45px;
                                width: 45px;
                                border-radius: 50%;
                                box-sizing: border-box;
                            }
                        }
                        .details-cont{
                            flex-grow: 3;
                            .name{
                                font-size: 18px;
                            }
                            .status{
                                font-size: 12px;
                            }
                        }
                      }
                    }
                    .grow {
                      flex-grow: 2;
                    }
                    .btn-cont {
                        button{
                            background: transparent;
                            box-sizing: border-box;
                            outline: none;
                            border-radius: 7px;
                            padding: 10px;
                            align-items: center;
                            justify-content: center;
                            margin: 5px;
                            svg {
                                height: 35px !important;
                                width: 35px !important;
                            }
                        }
                        button:hover {
                            background: #222;
                        }
                    }
                }
            }
        }
        .chat-body {
            background: #333;
            overflow-y: auto;
            box-sizing: border-box;
            .msg-time {
                display: flex;
                align-items: right;
                justify-content: right;
                span {
                    font-size: 10px;
                    /* margin-right: 16px; */
                    padding: 1px 5px;
                    transform: translateY(-6px);
                    border-radius: 5px;
                }
            }
            .first-msg-sug {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 30px;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    animation: sayHi 3s 1s infinite linear;
                    cursor: pointer;
                }
                span:hover {
                    animation: none;
                }
            }
            .msg-body {
                width:fit-content;
                max-width: 400px;
                margin: 5px 10px;
            }
            .msg-cont-sent {
                .msg-body {
                    margin-right: 100px;
                }
            }
            .msg-cont-received {
                .msg-body {
                    margin-left: 100px;
                }
            }
            .msg-body {
                .msg-text {
                    padding: 10px 20px;
                    min-width: 100px;
                }
                .msg-bg {
                    background: 08f;
                    border-radius: 10px 10px 0 10px;
                    width:fit-content;
                    max-width: 400px;
                    min-width: 50px;
                }
                .msg-img {
                    padding: 2px;
                    border-radius: 10px;
                    img{
                        max-width: calc(400px - 4px);
                        border-radius: 10px;
                        padding: 0;
                        margin: 0;
                    }
                }
            }
            .msg-cont-received {
                display: flex;
                justify-content: right;
            }
        }
        .chat-footer {
            display: flex;
            .inputs {
                height: 100%;
                width: 100%;
                form {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    gap: 10px;
                    padding: 10px;
                    input {
                        outline: none;
                        height: 100%;
                        flex-grow: 2;
                        border-radius: 7px;
                        border: none;
                        padding: 0 20px;
                    };
                    input:focus {
                        border: solid 1px #444;
                    }
                    button {
                        height: 100%;
                        padding: 7px 10px;
                        border-radius: 7px;
                        svg {
                            height: 20px;
                            width: 20px;
                        }
                        path {
                            fill: white;
                        }
                    }
                }
            }
        }   
    } 
}
/*  */
@keyframes sayHi {
    0% {
        color:#333;
    }
    20% {
        color: #222;
    }
}

/* 
.chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
}
.chat-footer .inputs {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 40px;
    grid-gap: 5px;
    height: 40px;
}
.chat-footer .inputs input{
    height: 40px;
    border-radius: 30px;
    padding: 0 20px;
    box-sizing: border-box;
    outline: none;
    border: none;
}
.chat-footer .inputs input:focus{
}
.chat-footer .inputs button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
    transition: .5s;
}
.chat-footer .inputs button:hover {
    backdrop-filter: blur(15px);
    box-shadow: 0 0 5px black;
} */

/* // @media only screen and (max-width: 950px) {

//     .chat-main {
//         display: block;
//         height: calc(100vh - 100px);
//         box-sizing: border-box;
//         max-width: 550px;
//         min-width: 200px;
//     }
// } */