.B1 {
  icon {
    height: 40px;
    width: 50px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
    z-index: 10;
    background: red;

    span {
      display: block;
      height: 5px;
      width: 30px;
      border-radius: 10px;
      transition: 0.5s;
    }

    span:nth-child(1) {
      width: 30px;
      transform: translateY(-4px);
      left: 10px;
      background: black;
    }

    span:nth-child(2) {
      width: 30px;
      transform: translateY(0px);
      left: 10px;
      background: black;
    }

    span:nth-child(3) {
      width: 30px;
      transform: translateY(4px);
      width: 30px;
      left: 10px;
      background: black;
    }
  }

  .active-icon {
    transform: translate(0px);
    width: 40px !important;

    span:nth-child(1) {
      width: 30px;
      transform: translateY(0px) rotate(45deg);
      left: initial;
    }

    span:nth-child(2) {
      width: 30px;
      transform: translateX(100px);
      left: initial;
    }

    span:nth-child(3) {
      transform: translateY(-10px) rotate(675deg);
      width: 30px;
      left: initial;
    }
  }

  .zero {
    height: 0;
  }
}
