

@media only screen and (max-width: 950px){
  /* .dashboard {
      display: block;
  }
  .body {
      flex-shrink: 3;
      overflow-y: auto;
  }
  .lsidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      flex-grow: 3;
  }
  .icon {
      position: fixed;
  } */
  
}

