

/* // home  */
.home {
    svg {
        height: 40px;
        width: 100%;
    }
}
p {
    font-size: x-large;
    letter-spacing: .01em;
    font-family: "Trirong", serif !important;
}
h1  {
    margin-bottom: 40px;
    /* font-size: 48px; */
}
.h-box-1 {
    text-align: center;
    font-stretch: extra-expanded;
    font-family: monospace;
    font-weight: bold;
    background-size: cover;
    background-attachment: fixed;
    /* // min-height: 80vh; */
    display: flex;
    padding-top: 100px;
    align-items: center;
    p {
        text-align: center;
        margin: 40px 20px;
        font-size: 24px;
        letter-spacing: 1px;
        word-spacing: 1px;
        font-weight: lighter;
        font-family: "Trirong", serif;
        font-family: "Sofia", sans-serif;
    }
    h1 {
        font-size: 44px;
        letter-spacing: 1px;
        word-spacing: 1px;
        font-family: "Audiowide", sans-serif;
        .grad {
            font-size: 52px;
            font-family: "Audiowide", sans-serif;
        }
        span span {
            font-size: 60px;
        }
    }
    .btnarea {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .btn-wrapper {
            padding: 20px;
            .btn {
               border: none;
               border-radius: 20px;
               overflow: hidden;
               transition: 1s;
           }
           .btn:hover button{
                animation: btn;
                animation-duration: 1s;
                animation-fill-mode: forwards;
           }
        }
        button {
            font-size: 18px; 
            font-weight: bold;
            border: none;
            cursor: pointer;
            letter-spacing: 1px;
            border-radius: 0 0% 20px 0;
            border-radius: 10px;
            padding: 30px 50px; 
            transition: .5s;
            /* -webkit-clip-path: polygon(0 0, 77% 16%, 87% 26%, 100% 0, 87% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%);
            clip-path: polygon(0 0, 77% 16%, 87% 26%, 100% 0, 87% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%); */
        
            /* -webkit-clip-path: polygon(0 0, 77% 16%, 87% 26%, 100% 0, 93% 100%, 0 74%, 100% 64%, 0 100%, 4% 12%, 67% 24%);
            clip-path: polygon(0 0, 77% 16%, 87% 26%, 100% 0, 93% 100%, 0 74%, 100% 64%, 0 100%, 4% 12%, 67% 24%);  */
        
            /* -webkit-clip-path: polygon(0 0, 77% 16%, 85% 24%, 98% 0, 87% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%);
            clip-path: polygon(0 0, 77% 16%, 85% 24%, 98% 0, 87% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%); */
        
            /* -webkit-clip-path: polygon(0 0, 77% 16%, 85% 24%, 91% 0, 100% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%);
        clip-path: polygon(0 0, 77% 16%, 85% 24%, 91% 0, 100% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%); */
        
        /* -webkit-clip-path: polygon(0 0, 77% 16%, 85% 24%, 97% 0, 100% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%);
        clip-path: polygon(0 0, 77% 16%, 85% 24%, 97% 0, 100% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%); */
        
        /* -webkit-clip-path: polygon(64% 0, 86% 0, 100% 0, 100% 34%, 100% 89%, 46% 90%, 34% 100%, 0 100%, 0 11%, 53% 11%);
        clip-path: polygon(64% 0, 86% 0, 100% 0, 100% 36%, 100% 86%, 46% 90%, 36% 100%, 0 100%, 0 14%, 64% 14%); */
        
        
        -webkit-clip-path: polygon(71% 5%, 75% 0, 100% 0, 100% 85%, 95% 90%, 40% 90%, 30% 100%, 0 100%, 0 9%, 70% 10%);
        clip-path: polygon(71% 5%, 75% 0, 100% 0, 100% 85%, 95% 90%, 40% 90%, 30% 100%, 0 100%, 0 9%, 70% 10%);
        
        /* -webkit-clip-path: polygon(70% 5%, 75% 0, 100% 0, 100% 85%, 95% 90%, 40% 90%, 30% 100%, 0 100%, 0 9%, 70% 10%);
        clip-path: polygon(70% 5%, 75% 0, 100% 0, 100% 85%, 95% 90%, 40% 90%, 30% 100%, 0 100%, 0 9%, 70% 10%); */
        }
    }
}





.home-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
  }
  .home-card-grid .home-card1 .bg {
    background: linear-gradient(45deg, transparent, red);
    height: fit-content;
    border-radius: 25px 25px 50% 100%;
  }
  .home-card-grid .home-card1 .container {
    padding: 0px;
  }
  .home-card-grid .home-card1 {
    margin-top: 30px;
    border: solid red 2px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 55px black;
  }
  .home-card-grid .home-card1 .container .content {
    backdrop-filter: blur(3px);
    background: linear-gradient(45deg, transparent, #00000040);
    position: relative;
    top: -35px;
    left: -25px;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    min-width: 100px;
    width: fit-content;
    border: solid white 1px;
    box-shadow: 0px 0px 30px 0px black;
    z-index: 10;
  }
  .home-card-grid .home-card1 .container .content h2 {
    text-align: left;
    font-size: 36px;
    margin: 10px 0 0 0;
  }
  .home-card-grid .home-card1 .container .content table {
    padding: 5px;
    text-align: center;
    font-size: 14px;
  }
  .home-card-grid .home-card1 .container .content table td {
    padding: 5px;
  }
  .home-card-grid .home-card1 h1 {
    color: #fff5;
    font-size: 40px;
    position: relative;
    top: -17px;
    left: 10px;
    z-index: 4;
    height: 40px;
  }




@media only screen and (max-width: 768px) {
  p {
      font-size:medium;
      letter-spacing: .01em;
      font-family: "Trirong", serif !important;
  }
  h1  {
      margin-bottom: 30px;
      font-size: 24px;
  }
  .h-box-1 {
      padding-top: 100px;
      p {
          margin: 40px 20px;
          font-size: 16px;
          letter-spacing: normal;
          word-spacing: 1px;
          font-weight: lighter;
          font-family: "Trirong", serif;
          font-family: "Sofia", sans-serif;
      }
      h1 {
        margin: 20px;
          font-size: 24px;
          font-family: "Audiowide", sans-serif;
          .grad {
              font-size: 32px;
              font-family: "Audiowide", sans-serif;
              span {
                font-size: 35px;
              }
          }
      }
      .btnarea {
          .btn-wrapper {
              .btn {
                 border-radius: 20px;
                 overflow: hidden;
                 transition: 1s;
             }
             .btn:hover button{
                  animation: btn;
                  animation-duration: 1s;
                  animation-fill-mode: forwards;
             }
          }
          button {
              font-size: 12px;
              letter-spacing: 0px;
              padding: 20px 40px; 
          }
      }
  }
}