

.main {
    box-sizing: border-box;
    max-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        border: none;
        cursor: pointer;
    }
    .chat-main-psudo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: sayHi 3s 1s infinite linear;
    }    
    .chat-main {
        display: block;
        height: calc(100vh);
        box-sizing: border-box;
        width: 100%;
        min-width: 500px;
        padding: 10px;
        .chat-head {
            border-radius: 13px;
            padding: 3px;
            .grid-1 {
                display: flex;
                align-items: center;
                .img-cont {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    box-sizing: border-box;
                    margin: 5px 10px;
                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        box-sizing: border-box;
                    }
                }
                .details-cont{
                    flex-grow: 3;
                    .name{
                        font-size: 20px;
                    }
                    .status{
                        font-size: 12px;
                    }
                }
                .btn-cont {
                    button{
                        height: 40px;
                        box-sizing: border-box;
                        outline: none;
                        /* border: solid 2px black; */
                        margin: 5px;
                        border-radius: 7px;
                        width: 40px;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            height: 23px !important;
                            width: 23px !important;
                        }
                    }
                }
            }
        }
    }
    .chat-body {
        border-radius: 13px;
        margin: 1px;
        padding: 10px;
        overflow-y: auto;
        height: calc(100vh - 130px);
        box-sizing: border-box;
        /* box-shadow: inset 0 0 10px black; */
        .msg-time {
            display: flex;
            align-items: right;
            justify-content: right;
            span {
                font-size: 10px;
                /* margin-right: 16px; */
                padding: 1px 5px;
                transform: translateY(-6px);
                border-radius: 5px;
            }
        }
        .first-msg-sug {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                animation: sayHi 3s 1s infinite linear;
                cursor: pointer;
            }
            span:hover {
                animation: none;
            }
        }
        .msg-body {
            width:fit-content;
            max-width: 400px;
            margin: 5px 10px;
        }
        .msg-cont-a {
            .msg-body {
                margin-right: 100px;
            }
        }
        .msg-cont-b {
            .msg-body {
                margin-left: 100px;
            }
        }
        .msg-body {
            .msg-text {
                padding: 10px 20px;
                min-width: 100px;
            }
            .msg-bg {
                border-radius: 10px 10px 0 10px;
                width:fit-content;
                max-width: 400px;
                min-width: 50px;
            }
            .msg-img {
                padding: 2px;
                border-radius: 10px;
                img{
                    max-width: calc(400px - 4px);
                    border-radius: 10px;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .msg-cont-b {
            display: flex;
            justify-content: right;
        }
    }
    .chat-footer {
        border-radius: 13px;
        padding: 3px;
        box-sizing: border-box;
        .inputs {
            display: flex;
            input, button {
                height: 40px;
                box-sizing: border-box;
                outline: none;
                /* border: solid 2px black; */
                margin: 5px;
                border-radius: 7px;
            }
            input {
                flex-grow: 3;
                padding: 0 20px;
                border: none;
            }
            button {
                cursor: pointer;
                width: 40px;
                padding: 0;
                svg {
                    height: 23px;
                    width: 23px;
                }
            }
        }
    }    
}