@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong');
/* On screens that are 992px or less, set the background color to blue
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive 
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
} */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
.page {
    display: none;
    transition: 1s;
}
.body-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 190px);
    width: 100%;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    border: solid 2px;
    border-radius: 50px;
    cursor: pointer;
}
.loaded-page {
    display: block;
}
svg {
    margin-bottom: -5px;
    outline: none;
    transition: .5s ease;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}
p {
    margin:10px 0;
    text-align: justify;
}
li {
    /* margin-block-start: 1em; */
    margin-left: 40px;
    margin-bottom: 20px;
}
.text-cont {
    padding: 20px 40px;
    /* border: solid 2px #000; */
}
.box {
    overflow: hidden;
}
.box-1 {
    padding: 60px;
    /* border-bottom: solid 1px #333; */
}
.box-2 {
    padding: 60px;
    /* border-bottom: solid 1px #333; */
}
.box-3 {
    padding: 60px;
}
.sbox-1 {
    padding: 20px;
    background: #333;
    border-radius: 30px;
}
.glass {
    backdrop-filter: blur(25px);
}
.mid {
    max-width: 1200px;
    margin: 0px auto;
}
.fit-center {
    // width: fit-content;
    margin: 0 auto;
    border-radius: 7px;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex-box span {
    display: inline-block;
    padding: 40px;
    margin: 10px;
    min-width: 200px;
    text-align: center;
    font-size: 24px;
}
.flex-box span:hover {
    cursor: pointer;
}
.background-cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.background span {
    display: flex;
    font-size: 100px;
    justify-content: center;
}

.page {
    margin: 0 auto;
    min-width: 0;
    min-height: 100vh;
}
.footer {
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: max-content;
    text-align: center;
}
.gallary {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0;
}
.card-2 {
    width: fit-content;
    margin: 40px;
    border-radius: 10px;
    overflow: hidden;
    img {
        width: 400px;
        height: auto;
    }
    .desc-cont {
        padding: 20px 10px;
        max-width: 350px;
        h1 {
            margin-bottom:20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        p {
            margin-bottom:10px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    }
}
.card-3 {
    text-align: center;
    padding: 40px;
    p {
       font-size: 28px;
    }
}
.hid {
    display: none;
    visibility: hidden;
}
.show {
    display: block;
    visibility: visible;
    transform: scale(5550%);
    transform: translateX(-500%);
    animation: svg ;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: .2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:forwards;
    animation-duration: .5s;
}
@keyframes svg {
    0% {
        transform:scale(5000%);
        transform: translateX(-500%);
    }
    100% {
        transform:scale(100%);
        transform: translateX(0%);
    }
}
.card-rib {
    display: block;
    width: 400px; 
    height: 400px;
    position: relative;
    margin: 10px;
    padding: 28px;
    h1 {
        font-size: 65px;
        position: absolute;
        z-index: 1;
    }
    p {
        font-weight: bold;
        font-size:12px;
        text-align: center;
    } 
    .details {
        z-index: 2;
    }
    .l-rib {
        position: absolute;
        left: -5px; top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px; height: 75px;
        text-align: right;
        span {
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            line-height: 20px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            width: 100px;
            display: block;
            position: absolute;
            top: 19px; left: -21px;
            display: block;
            padding: initial;
            margin: initial;
            min-width:initial;
            border: initial;
            text-align: center;
        }
        span::before {
            content: "";
            position: absolute; left: 0px; top: 100%;
            z-index: -1;
        }
        span::after {
            content: "";
            position: absolute; right: 0px; top: 100%;
            z-index: -1;
        }
    }
} 
.card-rib .r-rib {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.card-rib .r-rib span {
  font-size: 10px !important;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  position: absolute;
  top: 19px; 
  right: -21px;
      display: block;
      padding: initial;
      margin: initial;
      min-width:initial;
      border: initial;
      text-align: center;
      font-size: initial;
}
.card-rib .r-rib span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
}
.card-rib .r-rib span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
}
  /*
  .l-riblabel {
    width: 374px;
    position: absolute;
    left: 50%;
    margin-left: -187px;
    text-align: center;
    font-size: 23px !important;
    background: #D64B4B;
    background: linear-gradient(to bottom, #D64B4B, #AB2C2C);
    box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
    font-family: 'Helvetica Neue',Helvetica, sans-serif;
}

.l-riblabel p {
    font-size: 25px !important;
    color: #801111;
    text-shadow: #D65C5C 0 1px 0;
    margin:0px;
    padding: 13px 10px;
}

.l-riblabel:before, .l-rib:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #C23A3A;
    z-index: -1;
}

.l-riblabel:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
}

.l-riblabel:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    box-shadow: rgba(0,0,0,0.4) -1px 1px 1px;
}

.l-riblabel .l-rib-content:before, .l-riblabel .l-rib-content:after {
    border-color: #871616 transparent transparent transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1em;
    content: '';
}

.l-riblabel .l-rib-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.l-riblabel .l-rib-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.l-riblabel .l-rib-stitches-top {
    margin-top:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.l-riblabel .l-rib-stitches-bottom {
    margin-bottom:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}
*/
form p {
    font-size: 11px;
}
.list span {
    margin: 10px;
}
.list span a {
    min-width: 300px;
    display: block;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 40px;
}
.list span a:hover {
    backdrop-filter: blur(25px);
}
::-webkit-scrollbar {
    position: absolute;
    transition: .5s;
    opacity: 5;
    width: 10px;
    box-sizing: border-box;
}
::-webkit-scrollbar-button {
    padding: 0px;
    height: 0px;
    width: 10px;
    // display: block;
    // border-radius: 10px;;

}
::-webkit-scrollbar-corner {
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
::-webkit-scrollbar-track-piece {

}
::-webkit-scrollbar-thumb:hover {
}
.hidden {
    display: none;
}
.php-err {
    padding: 40px;
    min-width: 0;
    min-height: 0;
    position: fixed;
    top: 0;
    right: 0;
}
.dropdown-1 {
    border-radius: 5px;
    margin: 5px;
    .dd-button {
        margin: 4px;
        border-radius: 5px;
        position: relative;
        width: fit-content;
        padding: 10px 20px;
        display: inline-block;
        cursor: pointer;
        ul {
            display: none;
            position: absolute;
            margin-top: 12px;
            left: 0;
            border-radius: 5px;
            li {
                padding: 10px;
                margin: 4px;
                list-style: none;
                min-width: 100px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    .dd-button:hover {
        z-index: 10;
        ul {
            display: block;
        }
    }
}








// head

.header {
    overflow: hidden;
    transition: .5s;
    .row1, .row3 {
        display:flex;
        span {
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .row1 {
        justify-content: space-between;
    }
    .row3 {
        justify-content: center;
    }
    .row2 {
        display: flex;
        justify-content: center;
        align-items: center;
        .title h1 {
            font-size: 50px;
            margin:0;
            padding: 5px;
            font-weight: bold;
            font-family: cursive;
            // font-family: 'Courier New', Courier, monospace;
            letter-spacing: 4px;
        }
    }
}


// account

.tabList {
    display: flex;
    overflow-x:auto;
    
    ::-webkit-scrollbar {
        width: 7px; 
        transition: .5s;
        opacity: 5;
        width: 10px;
        box-sizing: border-box;
    }
    ::-webkit-scrollbar-button {
        padding: 0px;
        height: 10px;
        width: 10px;
        display: block;
        border: solid 2px black;
        border-radius: 10px;;

    }
    ::-webkit-scrollbar-corner {
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 1px;
        border: solid 2px black;
    }
    ::-webkit-scrollbar-track-piece {
        background: linear-gradient(#f00, #000);
        background: black;

    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
    div {
        padding: 10px;
        cursor: pointer;
    }
    div:hover {
        padding: 10px;
    }
}






// dashboard 

.hidden {
    display: none;
}
.dashboard {
    display: flex;
    /* height: calc(100vh - 145px); */
    .main {
        box-sizing: border-box;
        max-height: 100vh;
        box-sizing: border-box;
        display: block;
        align-items: center;
        justify-content: center;
    }    
    .lsidebar {
        width: 0px;
        height: 100vh;
        display: block;
        transition: 1s;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 10;
        .lsb-head {
            display: flex;
            height: 40px;
            justify-content:flex-end;
            .lsb-title {
                flex-grow: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 40px;
                    font-size: 20px;
                    svg {
                        overflow: hidden;
                        height: 30px;
                        width: 30px;
                        margin-top: -5px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .lsb-body {
            padding: 30px 0;
            box-sizing: border-box;
            span{
                padding: 10px 30px;
                display: block;
                font-size: 16px;
                cursor: pointer;
            }
            span:hover{
                padding: 10px 30px;
                display: block;
            }
        }
    }
    .body {
        flex-shrink: 3;
        width: -webkit-fill-available;
        z-index: 9;
        overflow: auto;
        height: 100vh;
    }
    .main{
        width: 100%;
        box-sizing: border-box;
    }
}
.dashboard-switch {
    height: 0;
    width: 0;
}
.lsidebar-show {
    width: 300px !important;
}

.icon {
    position: absolute;
    height: 40px;
    width: 50px;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    PADDING: 0 5PX;
    box-sizing: border-box;
    cursor: pointer;
    transition: 1s;
    overflow: hidden;
    transform: translateX(50px);
    z-index: 10;
    span{
        position: absolute;
        display: block;
        height: 4px;
        width: 30px;
        border-radius: 10px;
        transition: .5s;
    } 
    span:nth-child(1) {
        width: 20px;
        transform: translateY(-7px);
        left: 10px;
    }
    span:nth-child(2) {
        width: 30px;
        transform: translateY(0px);
        left: 10px;
    }
    span:nth-child(3) {
        transform: translateY(7px);
        width: 30px;
        left: 10px;
    }
}
.active-icon {
    transform: translate(0px);
    width: 40px !important;
    span:nth-child(1) {
        width: 30px;
        transform: translateY(0px) rotate(45deg);
        left:initial;
    }
    span:nth-child(2) {
        width: 30px;
        transform: translateX(100px);
        left:initial;
    }
    span:nth-child(3) {
        transform: translateY(0px) rotate(675deg);
        width: 30px;
        left:initial;
    }
}
.zero {
    height: 0;
}

@media only screen and (max-width: 950px){
    .dashboard {
        display: block;
    }
    .body {
        flex-shrink: 3;
        overflow-y: auto;
    }
    .lsidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        flex-grow: 3;
    }
    .icon {
        position: fixed;
    }
    
}









// home 
.home {
    svg {
        height: 40px;
        width: 100%;
    }
}
p {
    font-size: x-large;
    letter-spacing: .01em;
    font-family: "Trirong", serif !important;
}
h1  {
    margin-bottom: 40px;
    font-size: 48px;
}
.h-box-1 {
    text-align: center;
    font-stretch: extra-expanded;
    font-family: monospace;
    font-weight: bold;
    background-size: cover;
    background-attachment: fixed;
    // min-height: 80vh;
    display: flex;
    padding-top: 100px;
    align-items: center;
    p {
        text-align: center;
        margin: 40px 0;
        font-size: 24px;
        letter-spacing: 1px;
        word-spacing: 1px;
        font-weight: lighter;
        font-family: "Trirong", serif;
        font-family: "Sofia", sans-serif;
    }
    h1 {
        font-size: 44px;
        letter-spacing: 1px;
        word-spacing: 1px;
        font-family: "Audiowide", sans-serif;
        .grad {
            font-size: 52px;
            font-family: "Audiowide", sans-serif;
        }
        span span {
            font-size: 60px;
        }
    }
    .btnarea {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .btn-wrapper {
            padding: 20px;
            .btn {
               border: none;
               border-radius: 20px;
               overflow: hidden;
               transition: 1s;
           }
           .btn:hover button{
                animation: btn;
                animation-duration: 1s;
                animation-fill-mode: forwards;
           }
        }
        button {
            font-size: 18px; 
            font-weight: bold;
            border: none;
            cursor: pointer;
            letter-spacing: 1px;
            border-radius: 0 0% 20px 0;
            border-radius: 10px;
            padding: 30px 50px; 
            transition: .5s;
            /* -webkit-clip-path: polygon(0 0, 77% 16%, 87% 26%, 100% 0, 87% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%);
            clip-path: polygon(0 0, 77% 16%, 87% 26%, 100% 0, 87% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%); */
        
            /* -webkit-clip-path: polygon(0 0, 77% 16%, 87% 26%, 100% 0, 93% 100%, 0 74%, 100% 64%, 0 100%, 4% 12%, 67% 24%);
            clip-path: polygon(0 0, 77% 16%, 87% 26%, 100% 0, 93% 100%, 0 74%, 100% 64%, 0 100%, 4% 12%, 67% 24%);  */
        
            /* -webkit-clip-path: polygon(0 0, 77% 16%, 85% 24%, 98% 0, 87% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%);
            clip-path: polygon(0 0, 77% 16%, 85% 24%, 98% 0, 87% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%); */
        
            /* -webkit-clip-path: polygon(0 0, 77% 16%, 85% 24%, 91% 0, 100% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%);
        clip-path: polygon(0 0, 77% 16%, 85% 24%, 91% 0, 100% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%); */
        
        /* -webkit-clip-path: polygon(0 0, 77% 16%, 85% 24%, 97% 0, 100% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%);
        clip-path: polygon(0 0, 77% 16%, 85% 24%, 97% 0, 100% 100%, 0 74%, 100% 65%, 0 100%, 4% 12%, 67% 24%); */
        
        /* -webkit-clip-path: polygon(64% 0, 86% 0, 100% 0, 100% 34%, 100% 89%, 46% 90%, 34% 100%, 0 100%, 0 11%, 53% 11%);
        clip-path: polygon(64% 0, 86% 0, 100% 0, 100% 36%, 100% 86%, 46% 90%, 36% 100%, 0 100%, 0 14%, 64% 14%); */
        
        
        /* -webkit-clip-path: polygon(71% 5%, 75% 0, 100% 0, 100% 85%, 95% 90%, 40% 90%, 30% 100%, 0 100%, 0 9%, 70% 10%);
        clip-path: polygon(71% 5%, 75% 0, 100% 0, 100% 85%, 95% 90%, 40% 90%, 30% 100%, 0 100%, 0 9%, 70% 10%); */
        
        -webkit-clip-path: polygon(70% 5%, 75% 0, 100% 0, 100% 85%, 95% 90%, 40% 90%, 30% 100%, 0 100%, 0 9%, 70% 10%);
        clip-path: polygon(70% 5%, 75% 0, 100% 0, 100% 85%, 95% 90%, 40% 90%, 30% 100%, 0 100%, 0 9%, 70% 10%);
        }
    }
}














// chat app

.main {
    box-sizing: border-box;
    max-height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        border: none;
        cursor: pointer;
    }
    .chat-main-psudo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: sayHi 3s 1s infinite linear;
    }    
    .chat-main {
        display: block;
        height: calc(100vh);
        box-sizing: border-box;
        width: 100%;
        min-width: 500px;
        padding: 10px;
        .chat-head {
            border-radius: 13px;
            padding: 3px;
            .grid-1 {
                display: flex;
                align-items: center;
                .img-cont {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    box-sizing: border-box;
                    margin: 5px 10px;
                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        box-sizing: border-box;
                    }
                }
                .details-cont{
                    flex-grow: 3;
                    .name{
                        font-size: 20px;
                    }
                    .status{
                        font-size: 12px;
                    }
                }
                .btn-cont {
                    button{
                        height: 40px;
                        box-sizing: border-box;
                        outline: none;
                        /* border: solid 2px black; */
                        margin: 5px;
                        border-radius: 7px;
                        width: 40px;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            height: 23px !important;
                            width: 23px !important;
                        }
                    }
                }
            }
        }
    }
    .chat-body {
        border-radius: 13px;
        margin: 1px;
        padding: 10px;
        overflow-y: auto;
        height: calc(100vh - 130px);
        box-sizing: border-box;
        /* box-shadow: inset 0 0 10px black; */
        .msg-time {
            display: flex;
            align-items: right;
            justify-content: right;
            span {
                font-size: 10px;
                /* margin-right: 16px; */
                padding: 1px 5px;
                transform: translateY(-6px);
                border-radius: 5px;
            }
        }
        .first-msg-sug {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                animation: sayHi 3s 1s infinite linear;
                cursor: pointer;
            }
            span:hover {
                animation: none;
            }
        }
        .msg-body {
            width:fit-content;
            max-width: 400px;
            margin: 5px 10px;
        }
        .msg-cont-a {
            .msg-body {
                margin-right: 100px;
            }
        }
        .msg-cont-b {
            .msg-body {
                margin-left: 100px;
            }
        }
        .msg-body {
            .msg-text {
                padding: 10px 20px;
                min-width: 100px;
            }
            .msg-bg {
                border-radius: 10px 10px 0 10px;
                width:fit-content;
                max-width: 400px;
                min-width: 50px;
            }
            .msg-img {
                padding: 2px;
                border-radius: 10px;
                img{
                    max-width: calc(400px - 4px);
                    border-radius: 10px;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .msg-cont-b {
            display: flex;
            justify-content: right;
        }
    }
    .chat-footer {
        border-radius: 13px;
        padding: 3px;
        box-sizing: border-box;
        .inputs {
            display: flex;
            input, button {
                height: 40px;
                box-sizing: border-box;
                outline: none;
                /* border: solid 2px black; */
                margin: 5px;
                border-radius: 7px;
            }
            input {
                flex-grow: 3;
                padding: 0 20px;
                border: none;
            }
            button {
                cursor: pointer;
                width: 40px;
                padding: 0;
                svg {
                    height: 23px;
                    width: 23px;
                }
            }
        }
    }    
}
/*  */
@keyframes sayHi {
    0% {
        color:#222;
        border-color: #333;
    }
    20% {
        color: #ddd;
        border-color: #ddd;
    }
}

/* 
.chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
}
.chat-footer .inputs {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 40px;
    grid-gap: 5px;
    height: 40px;
}
.chat-footer .inputs input{
    height: 40px;
    border-radius: 30px;
    padding: 0 20px;
    box-sizing: border-box;
    outline: none;
    border: none;
}
.chat-footer .inputs input:focus{
}
.chat-footer .inputs button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    cursor: pointer;
    transition: .5s;
}
.chat-footer .inputs button:hover {
    backdrop-filter: blur(15px);
    box-shadow: 0 0 5px black;
} */

// @media only screen and (max-width: 950px) {

//     .chat-main {
//         display: block;
//         height: calc(100vh - 100px);
//         box-sizing: border-box;
//         max-width: 550px;
//         min-width: 200px;
//     }
// }
::-webkit-scrollbar {
    width: 7px;
    transition: .5s;
}
/* ::-webkit--scrollbar-track {
} */
::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    margin-block: .5em;
    transition: .5s;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
}
.hidden {
    display: none;
}


























// calender 



* {box-sizing: border-box;
    margin: 0;}
    ul {list-style-type: none;}
    body {font-family: Verdana, sans-serif;}
    
    .month {
      padding: 20px 25px;
      width: 100%;
      text-align: center;
    }
    
    .month ul {
      margin: 0;
      padding: 0;
    }
    
    .month ul li {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 0;
    }
    
    .month .prev {
      float: left;
      padding: 20px;
      margin: 0;
    }
    
    .month .next {
      float: right;
      padding:20px;
      margin: 0;
    }
    
    .weekdays {
      margin: 0;
      padding: 10px 0;
      width: 100%;
    }
    
    .weekdays li {
      display: inline-block;
      width:calc(100% / 8);
      text-align: center;
      margin: 0;
    }
    
    .days {
      padding: 10px 0;
      margin: 0;
    }
    
    .days li {
      list-style-type: none;
      display: inline-block;
      width:calc(100% / 8);
      padding: 10px;
      margin: 0;
      text-align: center;
      margin-bottom: 5px;
      font-size:12px;
    }
    
    .days li .active {
      padding: 10px;
    }
    
    /* Add media queries for smaller screens */
    @media screen and (max-width:720px) {
      .weekdays li, .days li {width: 13.1%;}
    }
    
    @media screen and (max-width: 420px) {
      .weekdays li, .days li {width: 12.5%;}
      .days li .active {padding: 2px;}
    }
    
    @media screen and (max-width: 290px) {
      .weekdays li, .days li {width: 12.2%;}
    }
    



// card-1
    
.todo-nav {
    width:fit-content;
    border-radius: 15px;
    /* margin: 10px; */
    align-self: center;
    position: sticky;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    span {
        margin: 5px;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        flex-shrink: 2;
    }
    span:hover {
    }
    .active {
    }
}
    
.nav {
    width:fit-content;
    border-radius: 15px;
    /* margin: 10px; */
    align-self: center;
    // position: sticky;
    top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
    span {
        margin: 5px;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        flex-shrink: 2;
    }
    span:hover {
    }
    .active {
    }
}
.card-1 {
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: bold;
    /* border-left: solid 4px white; */
    .top {
        display: flex;
        flex-wrap: wrap;
        span {
            text-align: center;
            padding: 5px;
            margin-bottom: 5px;
        }
        .date {
            /* color: #ffffffaa; */
        }
        .time {
            /* color: white; */
        }
        .title {
            justify-self: center;
            flex-grow: 2;
            padding: 5px;
            /* color: white */
        }
        .status {
            /* color: white; */
            float: right;
            padding: 5px 15px;
            border-radius: 5px;
        }
        .completed {
            /* color: white; */
            float: right;
            padding: 5px 15px;
            border-radius: 5px;
        }
        .inprogress {
            float: right;
            padding: 5px 15px;
            border-radius: 5px;
        }
        .pending {
            float: right;
            padding: 5px 15px;
            border-radius: 5px;
        }
    }
    textarea {
        resize: none;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;
        padding: 10px 20px;
        margin: 0;
        margin-bottom: -5px;
    }
    .middle {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 20px 0;
        font-size: 24px;
        input {
            width: 100%;
            border:none;
            padding: 10px;
            outline: none;
            box-sizing: border-box;
            font-size: 36px;
            background: transparent;

        }
    }
    .bottom {
        padding: 5px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        min-height: 0;
        flex-shrink: 10;
        .set{
        }
        .grow {
            flex-grow: 2;
        }
        button, input {
            padding: 0px 20px;
            font-size: 14px;
            border-radius: 10px;
            padding: 5px 20px;
            box-sizing: border-box;
            cursor: pointer;
            margin: 7px;
            border: none;
        }
        button:active, input:active {
        }
        input[type="file"] {
            padding: 2px 10px;
        }
    }
}










// typing

.typingmasterbody01 {
    justify-content: center;
}
.display01, .text01 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.center {
    display: flex;
    /* background-color: red; */
    justify-content: center;

}
.display01 {
    border-radius: 15px;
    padding: 15px;
    height: 100px;
    width: 530px;
    overflow: auto;
    /* background-color: #111; */
    color: white;
    z-index: 2;
    justify-self: center;
    display: flex;span {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.text01 {
    position: absolute;
    outline: none;
    border: none;
    z-index: 1;
    color: transparent;
    background-color: transparent;
    resize: none;
}
.highlighter01 {
    overflow: hidden;
    position: absolute;
    /* background-color: #00ff0050; */
    z-index: 0;
}
.keyboard01 {
    padding: 10px;
    background-color: black;
    width: 531px;
    height: 180px;
    border-radius: 10px;
    border: solid 1px white;
    /* box-sizing: border-box; */
}
.line01 {
    padding: 2px;
    height: 34px;
    /* border: solid 1px #111; */
    margin: 1px;
    box-sizing: border-box;
}
.key01 {
    min-width: 30px;
    min-height: 30px;
    box-sizing: border-box;
    font-size: 12px;
    display: inline-flexbox;
    padding: -4px;
    border: none;
    outline: none;
    border-radius: 3px;
    .bottom01 {
        font-size: 10px;
        position: relative;
        top:5px;
    }
    .top01 {
        /* font-size: 5px; */
        height: 8px;
        position: relative;
        top: -5px;
        font-size: 10px;
    }
}
.llkey01 {
    min-width: 40px;
    min-height: 30px;
}
.tabkey01 {
    width: 50px;
}
.capslockkey01 {
    width: 60px;
}
.lshiftkey01 {
    width: 80px;
}
.spacekey01 {
    width: 215px;
}
.backspacekey01 {
    width: 81px;
}
.backslashkey01 {
    width: 61px
}
.enterkey01 {
    width: 85px;
}
.rshiftkey01 {
    width: 99px;
}
.keya01 {
    background-color: rgb(255, 153, 153);
}
.keyb01 {
    background-color: rgb(134, 211, 255);
}
.keyc01 {
    background-color: rgb(68, 255, 78);
}
.keyd01 {
    background-color: rgb(255, 212, 70);
}
.wrongtxt01 {
    color: rgb(255, 92, 92);
}
.correcttxt01 {
    color: rgb(0, 255, 0);
}
.reference01 {
    display: none;
}
#caret01 {
    background-color: rgb(0, 247, 255);
    display: inline-block;
    height: 20px;
    width: 1px;
    visibility: hidden;
}
.handContainter01 {
    /* background-color: red; */
    padding: 2px;
    .fingerhighlighter01 {
        position:relative;
    }
    .fingerhighlighter01 {
        display: inline-block;
        height: 10px;
        width: 10px;
        z-index: 10;
        border-radius: 50%;
    }
    .finger1 {
        top: 20px;
    }
    .finger2 {
        top: 60px;
    }
    .finger3 {
        top: 50px;
    }
    .finger4 {
        top: 40px;
    }
    .finger5 {
        top: 30px;
    }
}

/* .handContainter01 {
    border: solid 1px white;
} */