@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong');
/* On screens that are 992px or less, set the background color to blue
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
}

/* On screens that are 600px or less, set the background color to olive 
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
} */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
.page {
    display: none;
    transition: 1s;
}
.body-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 190px);
    width: 100%;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    border: solid 2px;
    border-radius: 50px;
    cursor: pointer;
}
.loaded-page {
    display: block;
}
svg {
    margin-bottom: -5px;
    outline: none;
    transition: .5s ease;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}
p {
    margin:10px 0;
    text-align: justify;
}
li {
    /* margin-block-start: 1em; */
    margin-left: 40px;
    margin-bottom: 20px;
}
.text-cont {
    padding: 20px 40px;
    /* border: solid 2px #000; */
}
.box {
    overflow: hidden;
}
.box-1 {
    padding: 60px;
    /* border-bottom: solid 1px #333; */
}
.box-2 {
    padding: 60px;
    /* border-bottom: solid 1px #333; */
}
.box-3 {
    padding: 60px;
}
.sbox-1 {
    padding: 20px;
    background: #333;
    border-radius: 30px;
}
.glass {
    backdrop-filter: blur(25px);
}
.mid {
    max-width: 1200px;
    margin: 0px auto;
}
.fit-center {
    /* // width: fit-content; */
    margin: 0 auto;
    border-radius: 7px;
}
.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flex-box span {
    display: inline-block;
    padding: 40px;
    margin: 10px;
    min-width: 200px;
    text-align: center;
    font-size: 24px;
}
.flex-box span:hover {
    cursor: pointer;
}
.background-cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.background span {
    display: flex;
    font-size: 100px;
    justify-content: center;
}

.page {
    margin: 0 auto;
    min-width: 0;
    min-height: 100vh;
}
.footer {
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: max-content;
    text-align: center;
}
.gallary {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 50px 0;
}
.card-2 {
    width: fit-content;
    margin: 40px;
    border-radius: 10px;
    overflow: hidden;
    img {
        width: 400px;
        height: auto;
    }
    .desc-cont {
        padding: 20px 10px;
        max-width: 350px;
        h1 {
            margin-bottom:20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }
        p {
            margin-bottom:10px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    }
}
.card-3 {
    text-align: center;
    padding: 40px;
    p {
       font-size: 28px;
    }
}
.hid {
    display: none;
    visibility: hidden;
}
.show {
    display: block;
    visibility: visible;
    transform: scale(5550%);
    transform: translateX(-500%);
    animation: svg ;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: .2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode:forwards;
    animation-duration: .5s;
}
@keyframes svg {
    0% {
        transform:scale(5000%);
        transform: translateX(-500%);
    }
    100% {
        transform:scale(100%);
        transform: translateX(0%);
    }
}
.card-rib {
    display: block;
    width: 400px; 
    height: 400px;
    position: relative;
    margin: 10px;
    padding: 28px;
    h1 {
        font-size: 65px;
        position: absolute;
        z-index: 1;
    }
    p {
        font-weight: bold;
        font-size:12px;
        text-align: center;
    } 
    .details {
        z-index: 2;
    }
    .l-rib {
        position: absolute;
        left: -5px; top: -5px;
        z-index: 1;
        overflow: hidden;
        width: 75px; height: 75px;
        text-align: right;
        span {
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            line-height: 20px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            width: 100px;
            display: block;
            position: absolute;
            top: 19px; left: -21px;
            display: block;
            padding: initial;
            margin: initial;
            min-width:initial;
            border: initial;
            text-align: center;
        }
        span::before {
            content: "";
            position: absolute; left: 0px; top: 100%;
            z-index: -1;
        }
        span::after {
            content: "";
            position: absolute; right: 0px; top: 100%;
            z-index: -1;
        }
    }
} 
.card-rib .r-rib {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.card-rib .r-rib span {
  font-size: 10px !important;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  position: absolute;
  top: 19px; 
  right: -21px;
      display: block;
      padding: initial;
      margin: initial;
      min-width:initial;
      border: initial;
      text-align: center;
      font-size: initial;
}
.card-rib .r-rib span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
}
.card-rib .r-rib span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
}
  /*
  .l-riblabel {
    width: 374px;
    position: absolute;
    left: 50%;
    margin-left: -187px;
    text-align: center;
    font-size: 23px !important;
    background: #D64B4B;
    background: linear-gradient(to bottom, #D64B4B, #AB2C2C);
    box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
    font-family: 'Helvetica Neue',Helvetica, sans-serif;
}

.l-riblabel p {
    font-size: 25px !important;
    color: #801111;
    text-shadow: #D65C5C 0 1px 0;
    margin:0px;
    padding: 13px 10px;
}

.l-riblabel:before, .l-rib:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #C23A3A;
    z-index: -1;
}

.l-riblabel:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
    box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
}

.l-riblabel:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    box-shadow: rgba(0,0,0,0.4) -1px 1px 1px;
}

.l-riblabel .l-rib-content:before, .l-riblabel .l-rib-content:after {
    border-color: #871616 transparent transparent transparent;
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -1em;
    content: '';
}

.l-riblabel .l-rib-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.l-riblabel .l-rib-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.l-riblabel .l-rib-stitches-top {
    margin-top:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.l-riblabel .l-rib-stitches-bottom {
    margin-bottom:2px;
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}
*/
form p {
    font-size: 11px;
}
.list span {
    margin: 10px;
}
.list span a {
    min-width: 300px;
    display: block;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 40px;
}
.list span a:hover {
    backdrop-filter: blur(25px);
}
::-webkit-scrollbar {
    position: absolute;
    transition: .5s;
    opacity: 5;
    width: 10px;
    box-sizing: border-box;
}
::-webkit-scrollbar-button {
    padding: 0px;
    height: 0px;
    width: 10px;
    /* // display: block;
    // border-radius: 10px;; */

}
/* ::-webkit-scrollbar-corner {
} */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
}
/* ::-webkit-scrollbar-track-piece {

}
::-webkit-scrollbar-thumb:hover {
} */
.hidden {
    display: none;
}
.php-err {
    padding: 40px;
    min-width: 0;
    min-height: 0;
    position: fixed;
    top: 0;
    right: 0;
}
.dropdown-1 {
    border-radius: 5px;
    margin: 5px;
    .dd-button {
        margin: 4px;
        border-radius: 5px;
        position: relative;
        width: fit-content;
        padding: 10px 20px;
        display: inline-block;
        cursor: pointer;
        ul {
            display: none;
            position: absolute;
            margin-top: 12px;
            left: 0;
            border-radius: 5px;
            li {
                padding: 10px;
                margin: 4px;
                list-style: none;
                min-width: 100px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    .dd-button:hover {
        z-index: 10;
        ul {
            display: block;
        }
    }
}











@media only screen and (max-width: 950px){
    .dashboard {
        display: block;
    }
    .body {
        flex-shrink: 3;
        overflow-y: auto;
    }
    .lsidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        flex-grow: 3;
    }
    .icon {
        position: fixed;
    }
    
}














/*  */
@keyframes sayHi {
    0% {
        color:#222;
        border-color: #333;
    }
    20% {
        color: #ddd;
        border-color: #ddd;
    }
}

::-webkit-scrollbar {
    width: 7px;
    transition: .5s;
}
/* ::-webkit--scrollbar-track {
} */
::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    margin-block: .5em;
    transition: .5s;
    cursor: pointer;
}
/* ::-webkit-scrollbar-thumb:hover {
} */
.hidden {
    display: none;
}


























/* // calender  */



* {box-sizing: border-box;
    margin: 0;}
    ul {list-style-type: none;}
    body {font-family: Verdana, sans-serif;}
    
    .month {
      padding: 20px 25px;
      width: 100%;
      text-align: center;
    }
    
    .month ul {
      margin: 0;
      padding: 0;
    }
    
    .month ul li {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 0;
    }
    
    .month .prev {
      float: left;
      padding: 20px;
      margin: 0;
    }
    
    .month .next {
      float: right;
      padding:20px;
      margin: 0;
    }
    
    .weekdays {
      margin: 0;
      padding: 10px 0;
      width: 100%;
    }
    
    .weekdays li {
      display: inline-block;
      width:calc(100% / 8);
      text-align: center;
      margin: 0;
    }
    
    .days {
      padding: 10px 0;
      margin: 0;
    }
    
    .days li {
      list-style-type: none;
      display: inline-block;
      width:calc(100% / 8);
      padding: 10px;
      margin: 0;
      text-align: center;
      margin-bottom: 5px;
      font-size:12px;
    }
    
    .days li .active {
      padding: 10px;
    }
    
    /* Add media queries for smaller screens */
    @media screen and (max-width:720px) {
      .weekdays li, .days li {width: 13.1%;}
    }
    
    @media screen and (max-width: 420px) {
      .weekdays li, .days li {width: 12.5%;}
      .days li .active {padding: 2px;}
    }
    
    @media screen and (max-width: 290px) {
      .weekdays li, .days li {width: 12.2%;}
    }
    



.nav {
    width:fit-content;
    border-radius: 15px;
    align-self: center;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    position: sticky;
    z-index: 10;
    backdrop-filter: blur(15px);
    span {
        margin: 5px;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        flex-shrink: 2;
    }
    /* span:hover {
    }
    .active {
    } */
}







.card-1 {
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: bold;
    /* border-left: solid 4px white; */
    .top {
        display: flex;
        flex-wrap: wrap;
        span {
            text-align: center;
            padding: 5px;
            margin-bottom: 5px;
        }
        .date {
            color: #ffffffaa;
        }
        .time {
            color: #888;
        }
        .title {
            justify-self: center;
            flex-grow: 2;
            padding: 5px;
            color: #999;
        }
        .status {
            /* color: white; */
            float: right;
            padding: 5px 15px;
            border-radius: 5px;
        }
        .completed {
            /* color: white; */
            float: right;
            padding: 5px 15px;
            border-radius: 5px;
        }
        .inprogress {
            float: right;
            padding: 5px 15px;
            border-radius: 5px;
        }
        .pending {
            float: right;
            padding: 5px 15px;
            border-radius: 5px;
        }
    }
    textarea {
        resize: vertical;
        border-radius: 7px;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: solid 1px #444;
        padding: 10px 20px;
        margin: 0;
        margin-bottom: -5px;
    }
    .middle {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 20px 0;
        font-size: 24px;
        input {
            width: 100%;
            border:none;
            padding: 10px;
            outline: none;
            box-sizing: border-box;
            font-size: 36px;
            background: transparent;

        }
    }
    .bottom {
        padding: 5px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        min-height: 0;
        flex-shrink: 10;
        /* .set{
        } */
        .grow {
            flex-grow: 2;
        }
        button, input {
            padding: 0px 20px;
            font-size: 14px;
            border-radius: 10px;
            padding: 5px 20px;
            box-sizing: border-box;
            cursor: pointer;
            margin: 7px;
            border: none;
        }
        /* button:active, input:active {
        } */
        input[type="file"] {
            padding: 2px 10px;
        }
    }
}
