
$prime: red;
$transp: transparent;

$link: blue;

$err: #f00;
$warn: #ff0;
$alrt: #0f0;
$done: #fff;

$welbg: #ffffffaa;
$glass: #ffffff93;
$shadow: #555;
$b1: #fff;
$b2: #eee;
$b3: #ddd;
$b4: #ccc;
$b5: #bbb;
$b6: #aaa;

$f1: #000;
$f2: #111;
$f3: #222;
$f4: #333;
$f5: #444;
$f6: #555;


$welbg: #000000aa;
$bglass: #11111155;
$fglass: #ffffff0f;
$shadow: #000;
$f1: #fff;
$f2: #eee;
$f3: #ddd;
$f4: #ccc;
$f5: #bbb;
$f6: #aaa;

$b1: #000;
$b2: #111;
$b3: #222;
$b4: #333;
$b5: #444;
$b6: #555;


.thA { 
    * {
        color: $f1;
    }
    button {
        background: $b3;
    }
    button:hover {
        background: $b2;
    }
    button:active {
        background: $b3;
    }
    .welcome {
        // background: $welbg;
        p {
            color: $f1;
        }
        h1  {
            color: $f1;
        }
        h1 {
            text-shadow: 0 0 10px $prime;
        }
        h1 .grad {
            text-shadow: 0px 0px 15px $prime;
        }
        .welcome h1 span span {
        }
        .welcome p {
        }
        .btnarea {
        }
        .btnarea .btn-wrapper {
        }
        .btnarea .btn-wrapper .btn {
            background:$f1;
            box-shadow: 0 0 5px $shadow;
        }
        .btnarea .btn-wrapper .btn:hover {
            background:$f1;
            box-shadow: 0 0 15px $shadow;
            transform: scale(1.1);
        }
        .btnarea button {
            color: $f1;
            background: linear-gradient(to left, $prime 0%, $b1 100%);
        }
        .btnarea .btn-wrapper .btn:hover button{
            box-shadow: 0 0 10px $shadow;
        }
        .h-box-2 {
            background: $b5;
        }
        .h-box-1 {
            color: $f3;
            border-left: solid 10px black;
        }
        .welcome p {
        }
    }
    .form-cont{ 
        form {
            .msg {
            }
            .i-cont {
                i {
                }
            }
            .textareaBox {
                div {
                    textarea {
                        background: $transp;
                        border-bottom: solid 2px $f1;
                        box-shadow: 0 5px 5px -5px $shadow;
                    }
                    ::-webkit-file-upload-button {
                        background: $b1;
                        color: var(--color-a);
                    }
                    .textarea-label {
                        color:var(--cdpfg);
                    }
                    i {
                        // background: $transp;
                    }
                    textarea:valid ~ i,
                    textarea:focus ~ i {
                        background: $fglass;
                    }
                    textarea:valid ~ .textarea-label, 
                    textarea:focus ~ .textarea-label {
                        background: $transp;
                        color: $done;
                    }
                    .error-msg {
                        color: $err;
                        background: $transp;
                    }
                    textarea:valid ~ .err {
                        color: $err;
                    }
                }
            }
            .inputBox {
                input[type="submit"] {
                    border: solid 1px $f1; 
                    box-shadow: 0 5px 5px -5px $shadow;
                    background: $b1;
                    color: $f1;
                }
                input[type="submit"]:hover {
                    background: $b1;
                }
                div {
                    input {
                        background: $transp;
                        border-bottom: solid 2px $f1;
                        box-shadow: 0 5px 5px -5px $shadow;
                    }
                    input[type="submit"] {
                        box-shadow: 0 5px 5px -5px $shadow;
                        color: $b1;
                        background: $f1;
                    }
                    input[type="submit"]:hover {
                        color: $b2;
                        background: $f3;
                    }
                    input[type="file" i] {
                        color: var(--color-f);
                        background: $transp;
                        border-bottom: solid 2px var(--color-c);
                    }
                    ::-webkit-file-upload-button {
                        background: $b1;
                        color: var(--color-a);
                    }
                    button {
                    }
                    .input-label {
                        color:var(--cdpfg);
                    }
                    i {
                        // background: $transp;
                    }
                    input:valid ~ i,
                    input:focus ~ i {
                        background: $fglass;
                    }
                    input:valid ~ .input-label, 
                    input:focus ~ .input-label {
                        background: $transp;
                        color: $done;
                    }
                    .error-msg {
                        color: $err;
                        background: $transp;
                    }
                    input:valid ~ .err {
                        color: $err;
                    }
                }
            }
        }
    }
    .header {
        background: linear-gradient(to bottom right, $prime 0%,$b1 35%);
        .row1, .row3 {
            span:hover {
                background: $b3;
            }
        }
        .row1, .row3 {
            background: $b1;
            color: $f1;
            a {
                background: $transp;
                color: $f1;
            }
            a:hover {
                background: $b2;
                color: $f4;
            }
        }
        .row2 {
            .title h1 {
                color: $f4;
            }
        }
    }
    a {
        color: $link
    }
    .page {
    }
    .body-center {
    }
    .loaded-page {
    }
    svg {
        background: $transp;
        .path-1 {
            fill: $b1;
        }
        .path-2 {
            fill: $prime;
        }
        .path-3 {
            fill: $b3;
        }
    }
    h1, h2, h3, h4, h5, h6 {
    }
    p {
    }
    li {
    }
    .box {
        background: $transp;
    }
    .box-1 {
        background: $b1;
    }
    .box-2 {
        background: $b3;
    }
    .box-3 {
    }
    .box-3 a {
        color: $link;
    }
    .glass {
        color: $f1;
        background: $bglass;
        box-shadow: 0 0 20px $shadow;
        border: solid 1px $prime;
    }
    .mid {
        background: $transp;
    }
    .flex-box {
    }
    .flex-box span {
        border: solid 1px black;
    }
    .flex-box span:hover {
        background: var(--cb);
    }
    .background {
        /* background: whitesmoke; */
        /* background-image: url(img.jpg); */
    }
    .background-cover {
        /* background: #ffffffaa; */
        /* backdrop-filter: blur(5px); */
    }
    .background span {
    }
    /* .background .block1 {
        background: var(--b1);

    } */
    .background .block2 {
    }
    .background .block3 {
    }
    .background .block4 {
    }
    .page {
    }
    .footer {
        background: var(--ca);
        color:var(--cb);
    }
    .gallary {
    }
    .card-2 {
        background:$b2;
        box-shadow: 0 0 15px $shadow;
        img {
        } 
        .desc-cont {
            h2 {
                color: $f1;
            }
            p {
                color: $f4;
            }
        }
    } 
    .card-2 .desc-cont h1 {
        color: var(--cbpfg);
    }
    .card-2 .desc-cont p {
        color: var(--cbtfg);
    }
    .card-3 {
        background: var(--cbpbg);
        color: var(--cbpfg);
    }
    .card-3 p {
    }
    .hid {
    }
    .show {
    }
    @keyframes svg {
        0% {
        }
        100% {
        }
    }

    .card-rib {
        border: 1px solid #BBB;
        background: #EEE;
        box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 1);
      }

      .card-rib h1 {
        color: #ccc;
      }
      .card-rib p {
      }
      .card-rib .details {
      }
      .card-rib   .l-rib {
      }
      .card-rib   .l-rib span {
        color: #FFF;
        background: #ff5555;
        background: linear-gradient(30deg,#ff0000 0%, #111111 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
      }
      .card-rib   .l-rib span::before {
        border-left: 3px solid #ff3333;
        border-top: 3px solid #ff3333;
      }
      .card-rib   .l-rib span::after {
        border-right: 3px solid #111111;
        border-top: 3px solid #111111;
      }
      .card-rib .r-rib {
      }
      .card-rib .r-rib span {
        color: #FFF;
        background: #79A70A;
        background: linear-gradient(#9BC90D 0%, #79A70A 100%);
        box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
      }
      .card-rib .r-rib span::before {
        border-left: 3px solid #79A70A;
        border-top: 3px solid #79A70A;
      }
      .card-rib .r-rib span::after {
        border-left: 3px solid transparent;
        border-right: 3px solid #79A70A;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #79A70A;
      }
      /*
      .l-riblabel {
        width: 374px;
        position: absolute;
        left: 50%;
        margin-left: -187px;
        text-align: center;
        font-size: 23px !important;
        background: #D64B4B;
        background: linear-gradient(to bottom, #D64B4B, #AB2C2C);
        box-shadow: rgba(0,0,0,0.3) 0 1px 1px;
        font-family: 'Helvetica Neue',Helvetica, sans-serif;
    }

    .l-riblabel p {
        font-size: 25px !important;
        color: #801111;
        text-shadow: #D65C5C 0 1px 0;
        margin:0px;
        padding: 13px 10px;
    }

    .l-riblabel:before, .l-rib:after {
        content: '';
        position: absolute;
        display: block;
        bottom: -1em;
        border: 1.5em solid #C23A3A;
        z-index: -1;
    }

    .l-riblabel:before {
        left: -2em;
        border-right-width: 1.5em;
        border-left-color: transparent;
        box-shadow: rgba(0,0,0,0.4) 1px 1px 1px;
    }

    .l-riblabel:after {
        right: -2em;
        border-left-width: 1.5em;
        border-right-color: transparent;
        box-shadow: rgba(0,0,0,0.4) -1px 1px 1px;
    }

    .l-riblabel .l-rib-content:before, .l-riblabel .l-rib-content:after {
        border-color: #871616 transparent transparent transparent;
        position: absolute;
        display: block;
        border-style: solid;
        bottom: -1em;
        content: '';
    }

    .l-riblabel .l-rib-content:before {
        left: 0;
        border-width: 1em 0 0 1em;
    }

    .l-riblabel .l-rib-content:after {
        right: 0;
        border-width: 1em 1em 0 0;
    }

    .l-riblabel .l-rib-stitches-top {
        margin-top:2px;
        border-top: 1px dashed rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
    }

    .l-riblabel .l-rib-stitches-bottom {
        margin-bottom:2px;
        border-top: 1px dashed rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
    }
    */

    form p {
    }
    .bgSvg1 {
        background:$b1;
    }
    .bgSvg2 {
        background: $b3;
    }
    .list span {
    }
    .list span a {
        color: white;
        /* border-bottom: solid 1px #ff000033; */
        /* border-radius: 10px; */
    }
    .list span a:hover {
        background: #ffffff22;
        box-shadow: 0 0 10px #000;

    }
    .hidden {
    }
    .php-err {
        background: white;
    }
}
::-webkit-scrollbar {
    background: $b1;
    /* background: white; */
}
::-webkit-scrollbar-button {
    background: $b1;
    border: solid 2px $f3;
}
::-webkit-scrollbar-corner {
    background: lime;
}
::-webkit-scrollbar-thumb {
    background: $f5;
    border: solid 2px $b4;
}
::-webkit-scrollbar-track-piece {
    background: linear-gradient(#f00, #000);
    background: $b4;
}
::-webkit-scrollbar-thumb:hover {
    background-color: $b6;
}


// chat app


    button {
        background: $b3;
    }
    .chat-main-psudo {
    }    
    .chat-main {
        background: $b1;
        .chat-head {
            background: $b1; 
            .grid-1 {
                .img-cont {
                    img {
                    }
                }
                .details-cont{
                    .name{
                    }
                    .status{
                    }
                }
                .btn-cont {
                    button{
                        svg {
                        }
                    }
                }
            }
        }
    }
    .chat-body {
        background: $b4;
        .first-msg-sug {
            span {
            }
            span:hover {
            }
        }
        .msg-body {
        }
        .msg-cont-a {
            .msg-body {
            }
        }
        .msg-cont-b {
            .msg-bg {
                background: $b1;
                box-shadow: 0 0 10px $b1;
            }
        }
        .msg-cont-a{
            .msg-text {
                color: $b1;
            }
            .msg-bg {
                background: $f3;
                box-shadow: 0 0 10px $b1;
            }
            .msg-img {
                img{
                }
            }
        }
        .msg-cont-b {
        }
        .msg-time {
            span {
                background: linear-gradient(45deg, $prime, $b1);
            }
        }
    }
    .chat-footer {
        background: $b1;
        .inputs {
            input, button {
                background: $b3;
                color: $f1;
            }
            input {
            }
            button {
                svg {
                    // color: $f1;
                    fill: $f1;
                }
            }
        }
    }    
















// dashboard

.dashboard {
    .body {
        background: $b3;
    }
    .lsidebar {
        background: $b1;
        color: $f1;
        border-right: solid 1px $b3;
        .lsb-head {
            .lsb-title {
                div {
                    svg {
                    }
                }
            }
        }
        .lsb-body {
            span{
            }
            span:hover{
                background: $b2;
                
            }
        }
    }
    .body {
    }
    .main{
    }
}
.dashboard-switch {
}
.lsidebar-show {
}

.icon {
    background: $transp;
    span{
        background: $prime;
    } 
    span:nth-child(1) {
    }
    span:nth-child(2) {
    }
    span:nth-child(3) {
    }
}
.active-icon {
    span:nth-child(1) {
    }
    span:nth-child(2) {
    }
    span:nth-child(3) {
    }
}

@media only screen and (max-width: 950px){
    .dashboard {
    }
    .body {
    }
    .lsidebar {
    }
    .icon {
    }
    
}















// card-1
    
.todo-nav {
    border: solid 2px $b1;
    background-color: $b1;
    color: white;
    span {
        background-color: $b2;
        // border-right: 2px $f1 solid;
    }
    span:hover {
        background-color: $b3;
    }
    .active {
        background:$f1;
        color:$b1;
    }
}
.nav {
    border: solid 2px $b1;
    background-color: $b1;
    color: white;
    span {
        background-color: $b2;
        // border-right: 2px $f1 solid;
    }
    span:hover {
        background-color: $f3;
        color: $b1
    }
    .active {
        background:$f1;
        color:$b1;
    }
}
.card-1 {
    border: solid 2px $b1;
    color: $f1;
    background: $b1;
    .top {
        border-bottom: solid 1px $f6;
        span {
        }
        .date {
        }
        .time {
        }
        .title {
        }
        .status {
            background: $b1;
            color: $f1;
        }
        .completed {
            color: #00aa00;
        }
        .inprogress {
            color: #ff9900;
        }
        .pending {
            color: red;
        }
    }
    textarea {
        background: #ffffffaa;
    }
    .middle {
        input {
            background: $transp;
        }
    }
    .bottom {
        .set{
            background: $b3;
            color: $f1;
        }
        .grow {
        }
        button, input {
            // border: solid 2px $b2;
        }
        button:active, input:active {
        }
        input[type="file"] {
        }
    }
}




















// google charts

text {
    fill: $f1;
}
g {
    g {
        rect {
            text {
                fill: $fglass;
            }
            fill: $prime;
        }
    }
}