:root {
  --ul: #faa;
  --prime: red;
  --transp: transparent;
  --link: blue;
  --err: #f00;
  --warn: #ff0;
  --alrt: #0f0;
  --done: #fff;

  --welbg: #000000aa;
  --bglass: #11111155;
  --fglass: #ffffff0f;
  --shadow: #000;

  --b1: #000;
  --b2: #111;
  --b3: #222;
  --b4: #333;
  --b5: #444;
  --b6: #555;

  --glassBorder: #433a;
  --glass-background: rgba(0,0,0,.1);
  --glass-border: rgba(255,255,255,.2);

  --f1: #fff;
  --f2: #eee;
  --f3: #ddd;
  --f4: #ccc;
  --f5: #bbb;
  --f6: #aaa;

  --form-border: #fff;
  --form-input-label-background: rgba(255, 255, 255,.09);
  --form-button-background: rgba(255, 255, 255, .2)

}
/* =======================
   THEME VARIABLES
======================= */

// :root {
//   --ul: #faa;
//   --prime: red;
//   --transp: transparent;
//   --link: blue;
//   --err: #f00;
//   --warn: #ff0;
//   --alrt: #0f0;
//   --done: #fff;
//   --welbg: #000000aa;
//   --bglass: #11111155;
//   --fglass: #ffffff0f;
//   --shadow: #000;

//   --b1: #000;
//   --b2: #111;
//   --b3: #222;
//   --b4: #333;
//   --b5: #444;
//   --b6: #555;

//   --glassBorder: #433a;

//   --f1: #fff;
//   --f2: #eee;
//   --f3: #ddd;
//   --f4: #ccc;
//   --f5: #bbb;
//   --f6: #aaa;
// }
